<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>About</h1>
    <p>
      The <a href="http://www.railstutorial.org/" target="_blank"><em>Ruby on Rails Tutorial</em></a> is a
      <a href="http://www.railstutorial.org/book" target="_blank">book</a> and
      <a href="http://railscasts.com/" target="_blank">screencast series</a>
      to teach web development with
      <a href="http://www.rubyonrails.org/" target="_blank">Ruby on Rails</a>
      This is the sample application for the tutorial.
    </p>
  </body>
</html>
